[Unit]
Description=LED Matrix Subscriber Service
After=network.target mosquitto.service

[Service]
ExecStart=sudo sh /usr/local/bin/LED-Jukebox/led_subscriber.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target